* {
    box-sizing: border-box;
}

body, html {
    margin: 0;
    line-height: 1.8;
    font-family: "Times New Roman", sans-serif;
    font-size: 16px;
    color: rgba(0,0,0,.87);
}

a {
    text-decoration: none;
}

.un-list-style {
    list-style-type: none;
}


.social a {
    padding: 0 50px 0 0;
    opacity: .70;
}

.social a:hover {
    opacity: 1;
}

.menu a {
    font-weight: 500;
    color: #9f9f9f;
    margin: 0 15px;
}

.menu a:hover, .menu a.active {
    color: #000;
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background: #fff;
    padding: 20px 30px;
    z-index: 3;
    box-shadow: 0 4px 30px rgba(0,0,0, .1);

}

.banner {
    height: 427px;
    background: no-repeat center center / cover  url("assets/img/banner.jpg");
}

/*.banner img{
    width: 100%;
    height: auto;
}*/



.footer {
    color: white;
    padding: 20px 10px;
    background: #113347;
    clear: both;
}


.sweetcorn {
    color: #F2EDD7FF;
}

.sweetcorn-background {
    background: #F2EDD7FF;
}

.toffee {
    color: #755139FF;
}

.toffee-background {
    background: #755139FF;
}

.lightblue-bg {
    background: #113347;
}

.d-flex {
    display: flex;
}

.flex-direction-row {
    flex-direction: row;
}

.flex-direction-column {
    flex-direction: column;
}

.text-decoration-none {
    text-decoration: none;
}

.h-50 {
    height: 50px;
}

.h-100 {
    height: 100px;
}

.h-auto {
    height: auto;
}

.w-100 {
    width: 100px;
}

.w-200 {
    width: 200px;
}

.w-300 {
    width: 300px;
}

.w-400 {
    width: 400px;
}

.w-450 {
    width: 450px;
}

.w-auto {
    width: auto;
}

.p-0 {
    padding: 0;
}

.p-10 {
    padding: 10px;
}

.p-15 {
    padding: 15px;
}

.p-20 {
    padding: 20px;
}

.p-30 {
    padding: 30px;
}

.p-t-10 {
    padding-top: 10px;
}

.p-t-90 {
    padding-top: 90px;
}

.p-l-10 {
    padding-left: 10px;
}

.p-l-20 {
    padding-left: 20px;
}

.p-l-30 {
    padding-left: 30px;
}

.p-l-40 {
    padding-left: 40px;
}

.p-l-50 {
    padding-left: 50px;
}

.m-0 {
    margin: 0;
}

.m-t-10 {
    margin-top: 10px;
}

.m-t-20 {
    margin-top: 20px;
}

.m-t-30 {
    margin-top: 30px;
}

.m-t-40 {
    margin-top: 40px;
}

.m-t-50 {
    margin-top: 50px;
}

.m-t-60 {
    margin-top: 60px;
}
.rounded-circle-50 {
    border-radius: 50%;
}

/*.gmail {
    background: red;
}

.github {
    background: grey;
}

.linkedin {
    background: blue;

}

.stackoverflow {
    background: orangered;
}

.tel {
    background: lightgrey;
}*/


.text-align-center {
    text-align: center;
}
.text-align-right {
    text-align: right;
}
.text-align-left {
    text-align: left;
}

.text-transform-uppercase{
    text-transform: uppercase;
}

.font-weight-bold {
    font-weight: bold;
}